<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

</head>
<body>
  <form action="http://localhost:8080/home/" method="post">
  <div class="hero is-fullheight">
    <div class="hero-body is-justify-content-center is-align-items-center">
        <div class="columns is-flex is-flex-direction-column box">
            <div class="column">
                <label for="username">Username</label>
                <input class="input is-primary" type="text" placeholder="Email address" name="username" id="username">
            </div>
            <div class="column">
                <label for="password">Password</label>
                <input class="input is-primary" type="password" placeholder="Password" name="password" id="password">
                <a href="forget.html" class="is-size-7 has-text-primary">forget password?</a>
            </div>
            <div class="column">
                <button class="button is-primary is-fullwidth" type="submit">Login</button>
            </div>
            <div class="has-text-centered">
                <p class="is-size-7"> Don't have an account? <a href="http://localhost:8080/home/new" class="has-text-primary">Sign up</a>
                </p>
            </div>
        </div>
    </div>
</div>
</form>
</body>
</html>